@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-color: #3e0d0d;

  --container-max: 1200px;
  --container-padding: 1rem;

  --events-height: 60vh;

  --fs-p: 0.95rem;

  --fs-h1: 1.75rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-h4: 1.125rem;
  --fs-h5: 1rem;
  --fs-h6: 0.875rem;

  --lh-body: 1.6;
  --lh-heading: 1.25;
}

@media (min-width: 640px) {
  :root {
    --events-height: 70vh;

    --container-padding: 1.25rem;

    --fs-p: 1rem;

    --fs-h1: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
  }
}

@media (min-width: 768px) {
  :root {
    --events-height: 70vh;

    --container-padding: 1.5rem;

    --fs-p: 1.05rem;

    --fs-h1: 2.25rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.75rem;
    --fs-h4: 1.25rem;
  }
}
@media (min-width: 1024px) {
  :root {
    --container-padding: 2rem;
    --events-height: 60vh;

    --fs-p: 1.125rem;

    --fs-h1: 2.75rem;
    --fs-h2: 2.15rem;
    --fs-h3: 2rem;
    --fs-h4: 1.5rem;
  }
}

@media (min-width: 1280px) {
  :root {
    --events-height: 60vh;

    --container-max: 1280px;

    --fs-p: 1.15rem;

    --fs-h1: 3.5rem;
    --fs-h2: 2.3rem;
    --fs-h3: 2.125rem;
    --fs-h4: 1.75rem;
  }
}

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  body {
    font-family: var(--font-raleway), Arial, sans-serif;
    background: #ffffff;
    color: rgb(36, 36, 36);
    font-weight: 400;
  }

  a {
    color: var(--main-color);
    font-style: italic;
  }

  p {
    font-size: var(--fs-p);
    line-height: var(--lh-body);
  }

  h1 {
    font-family: var(--font-aboreto), serif;
    font-size: var(--fs-h1);
    line-height: var(--lh-heading);
    font-weight: 400;
    font-style: normal;
    word-spacing: 1em;
    letter-spacing: 0.2em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h2 {
    font-family: var(--font-aboreto), serif;
    font-size: var(--fs-h2);
    line-height: var(--lh-heading);
    font-weight: 600;
    letter-spacing: 0.1em;
    padding: 1em 0 0.75em;
  }

  h3 {
    font-size: var(--fs-h3);
    line-height: var(--lh-heading);
    font-weight: 600;
  }

  h4 {
    font-size: var(--fs-h4);
    line-height: var(--lh-heading);
    font-weight: 500;
  }

  h5 {
    font-size: var(--fs-h5);
    line-height: var(--lh-heading);
    font-weight: 500;
  }

  h6 {
    font-family: var(--font-aboreto), serif;
    font-size: var(--fs-h6);
    line-height: var(--lh-heading);
    font-weight: 500;
  }
}

@layer components {
  .layout-container {
    max-width: var(--container-max);
    padding: 0 var(--container-padding);
    margin: 0 auto;
    width: 100%;
  }

  header {
    background: linear-gradient(
      135deg,
      #3e0d0d,
      #591616,
      #752525,
      #8c3832,
      #3e0d0d
    );
    color: white;
    padding: 2rem 1rem;
    text-align: center;
  }
}

.news-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(auto-fill, minmax(auto, 25rem));
  gap: 1rem;
  overflow: hidden;
  padding: 10px 0;
}

.news-item {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 1em;

  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.news-grid > article:nth-child(1) {
  grid-column: span 2;
  grid-row: 1;
}

.news-image {
  width: 100%;
  height: 40%;
  min-height: 10rem;
  /* object-fit: cover; */
  border-radius: 6px;
  filter: brightness(0.85) opacity(80%);
  margin-bottom: 0.8rem;
}

.news-item p {
  flex-grow: 1; /* заполняет всё оставшееся пространство */
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.8rem 0;
}

.more-news {
  display: inline-block;
  margin-top: 1rem;
  text-decoration: none;
  font-weight: bold;
}

.more-news:hover {
  text-decoration: underline;
}

.news-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem; /* расстояние между значком и ссылкой */
  margin-top: auto; /* прижимает блок к низу карточки */
}

.news-footer a {
  font-size: 0.8em;
}

.news-footer a:hover {
  text-decoration: underline;
}

.source-link {
  display: inline-block;
  text-decoration: none;
}

.source-link:hover {
  text-decoration: underline;
}

.classes-block {
  background: #eef2f5;
  padding: 1.5rem;
  border-radius: 10px;
}

.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #3e0d0d;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 50px;
  cursor: pointer;
  display: none;
  font-size: 0.9rem;
}

.classes-block {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.block-day {
  padding: 0.8em;
  min-width: 16em;
}

.today {
  border: #3e0d0d 0.1em solid;
  border-radius: 1em;
}

footer {
  background: linear-gradient(
    135deg,
    #3e0d0d,
    #591616,
    #752525,
    #8c3832,
    #3e0d0d
  );
  color: #fff;
  padding: 2.5rem 1rem;
  margin-top: 3rem;
  text-align: center;
}
